@import url(//fonts.googleapis.com/css?family=Oswald);
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
}
#container {
  background-color: #fff;
  width: 760px;
  margin: 50px auto;
  padding: 15px 10px;
}

header img {
  display: block;
  margin: auto;
}
header div {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 20px auto;
}
header ul {
  margin: auto;
  display: flex;
  justify-content: center;
}
#title {
  font-size: 42px;
  font-weight: bold;
  font-family: Oswald;
  display: flexbox;
}
#indice {
  font-weight: bold;
  font-family: Oswald;
  color: white;
  background-color: black;
  margin-left: 10px;
  padding: 10px 15px 10px 15px;
  margin-top: 15px;
}
#container_pres {
  display: block;
  margin: auto 70px;
  background-color: #eeeeee;
}
#container_pres h2 {
  display: block;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: Oswald;
  padding: 30px 0px;
}
#container_pres img {
  display: block;
  margin: auto;
  height: auto;
  width: 100px;
  margin-bottom: 20px;
}
strong {
  font-weight: bold;
}
.para {
  display: block;
  font-size: 16px;
  margin: 0px 20px 20px 20px;
}
#pres_liner {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin: 0px 20px 20px 20px;
}
.ital {
  display: block;
  font-size: 13px;
  justify-content: center;
  text-align: center;
  margin: 0px 20px 20px 20px;
}
#container_pres h3 {
  text-align: center;
  font-size: 20px;
  font-family: Oswald;
  margin: 0px 20px 20px 20px;
  color: #8b0000;
}
#end_pres {
  margin: 0px 20px;
  padding: 0px 0px 30px;
}
#container_act {
  display: block;
  margin: auto 70px;
}
#container_act h2 {
  display: block;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: Oswald;
  padding: 30px 0px;
}
#container_act ul li {
  font-size: 13px;
  border-radius: 25px;
  background-color: #eeeeee;
  color: #8b0000;
  text-align: center;
  margin: 5px 0px;
  padding: 5px 0px;
  text-transform: uppercase;
}
#container_img h2 {
  display: block;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: Oswald;
  padding: 30px 0px;
}
.img_box {
  border: 1px solid lightgray;
  margin: 15px 250px;
}
.img_box img {
  display: block;
  margin: auto;
  height: auto;
  width: 170px;
  padding: 15px 0px;
}
.img_box h3 {
  text-align: center;
  font-size: 20px;
  font-family: Oswald;
  margin: 0px 20px 20px 20px;
  color: #8b0000;
}
.img_box p {
  display: block;
  text-align: center;
  font-size: 16px;
  margin: 0px 20px 20px 20px;
}
footer {
  text-align: center;
  background-color: #eeeeee;
  height: 120px;
  padding-top: 40px;
}
